<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fontawesome/css/all.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="navbar">
		<a href="#home" class="navbar__logo a">
			<b>BR</b><span> Architects</span>
		</a>
		<nav class="navbar__menu">
			<a href="#projects" class="navbar__menu__a a">Projects</a>
			<a href="#about" class="navbar__menu__a a">About</a>
			<a href="#contact" class="navbar__menu__a a">Contact</a>
		</nav>
	</div>
<!-- Header -->
<header class="header" id='home'>
	<img src="../img/architect.jpg" alt="" class="header__img img">
	<div class="header__logo">
		<b class="header__logo__b">BR</b><span class='header__logo__span'> Architects</span>
	</div>	
</header>
<!-- Page content -->
<main class="content">
	<div class="content__headlining">
		<h3 class="content__h3 h3">Projects</h3>
		<hr>
	</div>
	
	<div class="content__projects">
		<div class="content__projects__img_container img_container">
			<img src="../img/house5.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Summer House</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house2.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Brick House</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house3.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Renovated</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house4.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Barn House</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house2.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Summer House</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house4.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Brick House</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house5.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Renovated</div>
		</div>
		<div class="content__projects__img_container img_container">
			<img src="../img/house3.jpg" alt="" class="content__projects__img_container__img img">
			<div class="content__projects__img_container__label">Barn House</div>
		</div>
	</div>
	<div class="content__headlining">
		<h3 class="content__h3 h3">Projects</h3>
		<hr>
		<p class="content__p p">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
	
	<div class="content__about">
		<div class="content__about__column">
			<img src="../img/team1.jpg" alt="" class="content__about__column__img img">
			<h3 class="content__about__column__h3 h3">John Doe</h3>
			<p class="content__about__column__p p">CEO & Founder</p>
			<p class="content__about__column__p p">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
			<p><button class="content__about__column__button">Contact</button></p>
		</div>
		<div class="content__about__column">
			<img src="../img/team2.jpg" alt="" class="content__about__column__img img">
			<h3 class="content__about__column__h3 h3">Jane Doe</h3>
			<p class="content__about__column__p p">Architect</p>
			<p class="content__about__column__p p">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
			<p><button class="content__about__column__button">Contact</button></p>
		</div>
		<div class="content__about__column">
			<img src="../img/team3.jpg" alt="" class="content__about__column__img img">
			<h3 class="content__about__column__h3 h3">Mike Ross</h3>
			<p class="content__about__column__p content__about__column__p_grey p">Architect</p>
			<p class="content__about__column__p p">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
			<p><button class="content__about__column__button">Contact</button></p>
		</div>
		<div class="content__about__column">
			<img src="../img/team4.jpg" alt="" class="content__about__column__img img">
			<h3 class="content__about__column__h3 h3">Dan Star</h3>
			<p class="content__about__column__p p">Architect</p>
			<p class="content__about__column__p p">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
			<p><button class="content__about__column__button">Contact</button></p>
		</div>
	</div>
	
	<div class="content__headlining">
		<h3 class="content__h3 h3">Projects</h3>
		<hr>
		<p class="content__p p">
			Lets get in touch and talk about your next project.
		</p>
	</div>
	
	<div class="content__contact">
		<form action="" class="content__contact__form" method="POST">
			<input type="text" class="content__contact__form__input" placeholder="Name" required name='Name'>
			<input type="email" class="content__contact__form__input" placeholder="Email" required name='Email'>
			<input type="text" class="content__contact__form__input" placeholder="Subject" required name='Subject'>
			<input type="text" class="content__contact__form__input" placeholder="Comment" required name='Comment'>
			<button class="content__contact__form__button" type='submit'>SEND MESSAGE</button>
		</form>
	</div>
	<div class="content__img_container img_container">
		<img src="../img/map.jpg" alt="" class="img_container__img img">
	</div>
</main>
<footer class="footer">
	<p class="footer__p">Powered by Andrew Kiselev</p>
</footer>
</body>
</html>